@import '../../assets/variables';
.button {
  border-radius: 50%;
  border: none;
  background: #f9f6f67a;
  bottom: 1rem;
  box-shadow: -3px 0px 10px -1px rgba(97, 93, 97, 0.69);
  color: #ffffffc4;
  cursor: pointer;
  font-size: 1rem;
  position: fixed;
  padding: 1rem;
  right: 1rem;
  z-index: 90;
  width: 3rem;
  height: 3rem;
  transition: all 300ms ease-in-out;
  &:hover {
    background-color: white;
    color: black;
  }
  &__icon {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }
}